<h1>Carrito {{cart._id}}</h1>

{{#if cart.products.length}}
  {{#each cart.products}}
    <div>
      <h3>{{this.product.title}}</h3>
      <p>Precio: $ {{this.product.price}}</p>
      <p>Categoría: {{this.product.category}}</p>
      <p>Cantidad: {{this.quantity}}</p>
    </div>
    <hr/>
  {{/each}}
{{else}}
  <p>El carrito está vacío</p>
{{/if}}

<a href="/products">Volver a productos</a>
